@import "~rsuite/dist/rsuite.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Roboto, sans-serif;
}

html,
body {
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}
