// colors
$accent-color: #aa14f0;
$back-color-light: #f7f7fa;
$back-color-dark: #f2f2f5;
$back-color-loading: #f2f2f5;
$text-color: #575757;
$border-color:#e5e5ea;

// borders
$default-border: 1px solid $border-color;

// durations
$transition-duration: 0.25s;
$animation-duration: 0.5s;
