@import "@assets/scss/variables";

.mobile-drawer {
  &__drawer {
    max-width: 100vw;
  }

  &__header {
    background: $back-color-light;
    padding: 16px;
  }

  // &__nav {
  //   padding: 16px 0;

  //   .rs-nav {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .rs-nav-default .rs-nav-item {
  //     border-radius: 0;
  //     padding: 8px 26px;
  //   }
  // }
}