@import "@assets/scss/variables";

.profile-menu {
  .rs-btn-group {
    display: flex;
  }

  .rs-dropdown-toggle.rs-btn {
    display: flex;
    align-items: center;
    padding: 5px;
    background: $back-color-dark;
    border: $default-border;
  }

  /deep/ .image-loader__image {
    border: $default-border;
  }

  &__username {
    margin: 0 5px 0 8px;
  }
}